{% sw_extends '@Storefront/storefront/layout/header/logo.html.twig' %}

{% block layout_header_logo_link %}
    <button><script src="{{ asset('src/custom/plugins/CmsDemoElement/src/Resources/app/storefront/src/button-logic/logic.js') }}"></script></button>
    <h2>I want a cat !!!</h2>
{% endblock %}